<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
	content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
<meta name="author" content="Ansonika">

<title>Snail | 首页</title>
<!-- 拼图验证 adsada-->
<link rel="stylesheet" href="css/jigsaw.css">

<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" type="image/x-icon"
	href="img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
	href="img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
	href="img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
	href="img/apple-touch-icon-144x144-precomposed.png">

<!-- BASE CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/vendors.css" rel="stylesheet">

<!-- YOUR CUSTOM CSS -->
<link href="css/custom.css" rel="stylesheet">
<!-- vue -->

<script src="js/vue.js"></script>
<!-- axios -->
<script src="js/vue-axios.js"></script>
<!-- qs -->
<script src="js/qs.js"></script>
<style>
@media screen and (max-width:640px){
	.owl-item{
		width:345px !important;
	}
	.owl-stage{
		width:4140px !important;
		transform: translate3d(-1035px, 0px, 0px) !important;
	}
	.owl-dots{
		display:none !important;
	}
	.btn_home_align{
		display:none !important;
	}
}

</style>



</head>

<body>

	<div id="page">

		<header class="header menu_fixed" id="top_menu">
			<div id="preloader">
				<div data-loader="circle-side"></div>
			</div>
			<!-- /Page Preload -->
			<div id="logo">
				<a href="index.html"> <img src="img/logo/snail-1.png" width="150"
					height="36" data-retina="true" alt="" class="logo_normal"> <img
					src="img/logo/snail-2.png" width="150" height="36"
					data-retina="true" alt="" class="logo_sticky">
				</a>
			</div>
			<ul id="top_menu">

				<li id="sign-msg"><a href="#sign-in-dialog" id="sign-in"
					class="login" title="Sign In">登 录</a></li>
				
			</ul>
			<!-- /top_menu -->
			<a href="#menu" class="btn_mobile">
				<div class="hamburger hamburger--spin" id="hamburger">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</a>
			<nav id="menu" class="main-menu">
				<ul>
					<li><span><a href="index.html">首页</a></span></li>

					<li><span><a href="hotel-detail.html">房间</a></span></li>

					<li id="info-show"><span><a href="user-info.html">会员信息</a></span></li>
					<li id='reg-show'><span><a href="register.html">注册</a></span></li>
					<li id='order-show'><span><a href="order-1.html">订单</a></span></li>
				</ul>
			</nav>

		</header>
		<!-- /header -->

		<main>
		<section class="hero_single version_2" >
			<div class="wrapper">
				<div class="container">
					<h3>Snail独特的经历</h3>
					<p>在世界各地的旅游、酒店中享有很高的声誉</p>
					<form action="hotel-detail.html">
						<div class="row no-gutters custom-search-input-2">
							<div class="col-lg-4">
								<div class="form-group">
									<input class="form-control" type="text"
										placeholder="您想要酒店为您提供什么服务..."> <i class="icon_pin_alt"></i>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<input class="form-control" id="getDates" type="text" name="dates"
										placeholder="何时..."> <i class="icon_calendar"></i>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="panel-dropdown">
									

								<a href="#">住客人数 <span class="qtyTotal">0</span></a>
								<div class="panel-dropdown-content right">
									<div class="qtyButtons">
										<label>住客</label>
										<input type="text" name="qtyInput" value="0" id="rt_num">
									</div>
								</div>
							</div>
							</div>
							<div class="col-lg-2">
								<input type="submit" class="btn_search" value="Search">
							</div>
						</div>
						<!-- /row -->
					</form>
				</div>
			</div>
		</section>
		<!-- /hero_single -->

		<div class="container-fluid margin_80_0">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Snial酒店风格</h2>
				<p>Snail酒店有各式建筑群，供您各种风格的居住房间.</p>
			</div>
			<div id="reccomended" class="owl-carousel owl-theme">
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="hotel-detail.html"><img src="/Snail/upload/defaultImages/castle.jpg"
								class="img-fluid" alt="" width="800" height="533">
							<div class="read_more">
									<span>查看更多</span>
								</div></a>
						</figure>
						<div class="wrapper">
							<h3>
								<a href="hotel-detail.html">城堡</a>
							</h3>
							<p>是欧洲中世纪的一种产物，公元1066年至1400年是兴建城堡的鼎盛时期，欧洲贵族为争夺土地、粮食、牲畜、人口而不断爆发战争，
							密集的战争导致了贵族们修建越来越多、越来越大的城堡，来守卫自己的领地。</p>
							<span class="price">From <strong>$54</strong> /per person
							</span>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 2h 30min</li>
							<li><div class="score">
									<span>Superb<em>350 Reviews</em></span><strong>8.9</strong>
								</div></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<!-- <div class="item">
					<div class="box_grid">
						<figure>
							<a href="hotel-detail.html"><img src="/Snail/upload/defaultImages/villa.jpg"
								class="img-fluid" alt="" width="800" height="533">
							<div class="read_more">
									<span>查看更多</span>
								</div></a>
						</figure>
						<div class="wrapper">
							<h3>
								<a href="hotel-detail.html">庄园</a>
							</h3>
							<p>庄园，园林和农田的建筑组群。皇室的为皇庄，称苑、宫庄、王庄等；贵族、官吏、地主的为私庄，
							称墅、别墅等；中世纪英、法等国宅邸中的大厅为庄园主的会议厅和佃户集会的场所。</p>
							<span class="price">From <strong>$124</strong> /per person
							</span>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score">
									<span>Good<em>350 Reviews</em></span><strong>7.0</strong>
								</div></li>
						</ul>
					</div>
				</div> -->
				<!-- /item -->
				<!-- <div class="item">
					<div class="box_grid">
						<figure>
							<a href="hotel-detail.html"><img src="/Snail/upload/defaultImages/hilltop.jpg"
								class="img-fluid" alt="" width="800" height="533">
							<div class="read_more">
									<span>查看更多</span>
								</div></a>
						</figure>
						<div class="wrapper">
							<h3>
								<a href="hotel-detail.html">景区</a>
							</h3>
							<p>景区房间，自然风光类景区是以当地独特、优美的自然环境为主，当地旅游部门精心开发而成的景区。适合于休闲、养生等。</p>
							<span class="price">From <strong>$25</strong> /per person
							</span>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score">
									<span>Good<em>350 Reviews</em></span><strong>7.0</strong>
								</div></li>
						</ul>
					</div>
				</div> -->
				<!-- /item -->
				<!-- <div class="item">
					<div class="box_grid">
						<figure>
							<a href="hotel-detail.html"><img src="/Snail/upload/defaultImages/simple.jpg"
								class="img-fluid" alt="" width="800" height="533">
							<div class="read_more">
									<span>查看更多</span>
								</div></a>
						</figure>
						<div class="wrapper">
							<h3>
								<a href="hotel-detail.html">简约</a>
							</h3>
							<p>简约起源于现代派的极简主义。简约风格就是简单而有品位。这种品位体现在设计上的细节的把握，
							 每一个细小的局部和装饰，都要深思熟虑。在施工上更要求精工细作。</p>
							<span class="price">From <strong>$25</strong> /per person
							</span>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score">
									<span>Good<em>350 Reviews</em></span><strong>7.0</strong>
								</div></li>
						</ul>
					</div>
				</div> -->
				<!-- /item -->
				<!-- <div class="item">
					<div class="box_grid">
						<figure>
							<a href="hotel-detail.html"><img src="/Snail/upload/defaultImages/ancient.jpg"
								class="img-fluid" alt="" width="800" height="533">
							<div class="read_more">
									<span>查看更多</span>
								</div></a>
						</figure>
						<div class="wrapper">
							<h3>
								<a href="hotel-detail.html">古典</a>
							</h3>
							<p>清雅幽静的日式房间，房间里的简约装修风格，木质、竹质、纸质的天然绿色建材被应用
							于房间中，几件方正规矩的家居使人有宁静致远的心态。</p>
							<span class="price">From <strong>$45</strong> /per person
							</span>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 2h 30min</li>
							<li><div class="score">
									<span>Superb<em>350 Reviews</em></span><strong>9.0</strong>
								</div></li>
						</ul>
					</div>
				</div> -->
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="hotel-detail.html"><img src="/Snail/upload/defaultImages/village.jpg"
								class="img-fluid" alt="" width="800" height="533">
							<div class="read_more">
									<span>查看更多</span>
								</div></a>
						</figure>
						<div class="wrapper">
							<h3>
								<a href="hotel-detail.html">民宿</a>
							</h3>
							<p>民宿，是指利用自用住宅空闲房间，结合当地人文、自然景观、生态、环境资源及农林渔牧生产活动，
							为外出郊游或远行的旅客提供个性化住宿场所。</p>
							<span class="price">From <strong>$65</strong> /per person
							</span>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score">
									<span>Good<em>350 Reviews</em></span><strong>7.5</strong>
								</div></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
			</div>
			<!-- /carousel -->
			<div class="container">
				<p class="btn_home_align">
					<a href="tours-grid-isotope.html" class="btn_1 rounded">View
						all</a>
				</p>
			</div>
			<!-- /container -->
			<hr class="large">
		</div>
		<!-- /container -->

		<div class="container-fluid margin_30_95 pl-lg-5 pr-lg-5">
			<section class="add_bottom_45">
				<div class="main_title_3">
					<span><em></em></span>
					<h2>室内风格</h2>
					<p style="font-size:1rem">Snail酒店的一流设施和优质服务会让客人的入住变得更加愉快，每日客房清洁服务，专人办理入住退房，出租车服务。 </p>
				</div>
				<div class="row" id="roomType">
					<div class="col-xl-3 col-lg-6 col-md-6" v-for="messages in message">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<!-- <div class="score">
									<strong>8.9</strong>
								</div> -->
								<img :src="messages.rt_img" class="img-fluid" alt="">
								<div class="info">
									<!-- <div class="cat_star">
										<i class="icon_star"></i><i class="icon_star"></i><i
											class="icon_star"></i><i class="icon_star"></i>
									</div> -->
									<h3>{{messages.rt_name}}</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					
					<!-- /grid_item -->
					
					<!-- /grid_item -->
					
					<!-- /grid_item -->
				</div>
				<!-- /row -->
				<a href="hotel-detail.html"><strong>查看更多
						 <i class="arrow_carrot-right"></i>
				</strong></a>
			</section>
			<!-- /section -->

			<section>
				<div class="main_title_3">
					<span><em></em></span>
					<h2>住房风格</h2>
					<p style="font-size:1rem">在繁忙的一天过后，不妨到住宿的按摩浴缸，室外游泳池，潜水，按摩放松一下自己。</p>
				</div>
				<div class="row">
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<img src="/Snail/upload/defaultImages/dusk.jpg" class="img-fluid" alt="">
								<div class="info">
									<h3>商务</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<img src="/Snail/upload/defaultImages/mood.jpg" class="img-fluid" alt="">
								<div class="info">
									<h3>清新</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<img src="/Snail/upload/defaultImages/homestay.jpg" class="img-fluid" alt="">
								<div class="info">
									<h3>民宿</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<img src="/Snail/upload/defaultImages/simstyle.jpg" class="img-fluid" alt="">
								<div class="info">
									<h3>简约</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
				</div>
				<!-- /row -->
				<a href="hotel-detail.html"><strong>查看更多
						<i class="arrow_carrot-right"></i>
				</strong></a>
			</section>
			<!-- /section -->
		</div>
		<!-- /container -->

		<div class="bg_color_1">
			<div class="container margin_80_55">
				<div class="main_title_2">
					<span><em></em></span>
					<h3>酒店位置</h3>
					<p>Snail酒店随时欢迎您的光临，期待你的入住以及对我们提出宝贵的建议。</p>
				</div>
				<div class="row">

					<iframe src="map.html" style="width: 550px; height: 400px;"
						frameborder="0" scrolling="no"></iframe>

					<div class="col-lg-6" style="margin-left: 20px; whdth: 250px">


						<ul>
							<li>Snail 酒店</li>
							<li>2018</li>
						</ul>
						<h4>联系电话：15888888888</h4>
						<p>Snail坐落在成都市高新区天府大道北段1480号孵化园5号楼3楼....</p>
					</div>
					<!-- /row -->
					
				</div>
				<!-- /container -->
			</div>
			<!-- /bg_color_1 -->

			<div class="call_section">
				<div class="container clearfix">
					<div class="col-lg-5 col-md-6 float-right wow"
						data-wow-offset="250">
						<div class="block-reveal">
							<div class="block-vertical"></div>
							<div class="box_1">
								<h3>Snail酒店集团（CTO科技控股集团公司）</h3>
								<p>Snail酒店集团注册资金5亿元，成立于2018年，是CTO科技控股集团公司（世界五百强）下属的产业集团之一，现已成为全国性星级酒店集团。酒店地处风光旖旎的孵化园，依山傍海，拥有100万平方米园林景致，18个室内外泳池，601间雅致客房，700米登山木栈道，1.8公里跑步道。完美度假体验，尽在Snail酒店，
									一座隐藏在城市中的世外桃源。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/call_section-->
		</main>
		<!-- /main -->

		<footer>
			<div class="container margin_60_35">
				<div class="row">
					<div class="col-lg-5 col-md-12 p-r-5">
						<p>
							<img src="img/logo/snail-1.png" width="150" height="36"
								data-retina="true" alt="">
						</p>
						<p>生活不只有诗与远方，还有Snail酒店在您身边，与您同行。</p>
						<div class="follow_us">
							<ul>
								<li>Follow us</li>
								<li><a href="#0"><i class="ti-facebook"></i></a></li>
								<li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
								<li><a href="#0"><i class="ti-google"></i></a></li>
								<li><a href="#0"><i class="ti-pinterest"></i></a></li>
								<li><a href="#0"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
					</div>



					<div class="col-lg-3 col-md-6 ml-lg-auto">
						<h5>帮助链接</h5>
						<ul class="links">
							<li><a href="login.html">登录</a></li>
							<li><a href="register.html">注册</a></li>
							<li><a href="blog.html">百度地图</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6">
						<h5>联系我们</h5>
						<ul class="contacts">
							<li><a href="tel://61280932400"><i class="ti-mobile"></i>
									+ 61 23 8093 3400</a></li>
							<li><a href="mailto:info@Panagea.com"><i
									class="ti-email"></i> info@Panagea.com</a></li>
						</ul>

					</div>
				</div>
				<!--/row-->
				<hr>
				<div class="row">
					<div class="col-lg-6">
						<ul id="footer-selector">
							<li>
								<div class="styled-select" id="lang-selector">
									<select>
										<option value="English" selected>简体中文</option>
										<option value="French">English</option>
										<option value="Spanish">Spanish</option>
										<option value="Russian">Russian</option>
									</select>
								</div>
							</li>
							<li></li>
							<li><img src="img/cards_all.svg" alt=""></li>
						</ul>
					</div>
					<div class="col-lg-6">
						<ul id="additional_links">
							<li><a href="#0">条款与条件</a></li>
							<li><a href="#0">隐私</a></li>
							<li><span>© 2018 Snail</span></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!--/footer-->
	</div>
	<!-- page -->



	<!-- Sign In -->
	<div id="big">

		<div id="sign-in-dialog" v-if="showmodal"
			class="zoom-anim-dialog mfp-hide">

			<div class="small-dialog-header">

				<div class="btn-group">
					<button
						style="margin-left: 40px; width: 140px; color: darkgoldenrod"
						type="button" class="btn btn-default" v-on:click="changeDisplay2">密码登录</button>
					<button style="width: 140px; color: darkgoldenrod" type="button"
						class="btn btn-default" v-on:click="changeDisplay">短信登录</button>
				</div>

				<!-- <button  v-on:click="changeDisplay2"><h3>Sign In</h3></button>
			<button v-on:click="changeDisplay" style="margin-left: 30px;"><h3>Sign SMS</h3></button> -->
			</div>


			<div id="login" v-show="big2">

				<div class="msg" style="color: red; text-align: center;">{{msg}}</div>

				<form>
					<div class="form-group">
						<label>账户</label> <input class="form-control" v-model="u_name"
							id="email" maxlength="11" onblur="isPhone(this.value)"> <i
							class="ti-user"></i>
					</div>
					<div class="form-group">
						<label>密码</label> <input type="password" class="form-control"
							v-model="u_pass" id="password" maxlength="20"> <i
							class="icon_lock_alt"></i>
					</div>
					<div class="clearfix add_bottom_15">
						<div class="checkboxes float-left">
							<label class="container_check">记住账户 <input
								type="checkbox"> <span class="checkmark"></span>
							</label>
						</div>
						<div class="float-right mt-1">
							<a id="forgot" href="forget-pass.html">忘记密码?</a>
						</div>

					</div>
					<!-- =========================== -->
					<div class="container">

						<div id="captcha" style="position: relative"></div>
					</div>



					<!-- =============================== -->
					<!-- 				<div class="text-center"><input type="submit" value="登 录" class="btn_1 full-width"></div>
 -->
					<div class="text-center">
						还没有账号？ <a href="register.html">注册</a>
					</div>
				</form>
			</div>


			<!-- ===================sms==================== -->
			<!-- Sign In Popup -->
			<!-- <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide" v-show="!big2">
						
					<div class="small-dialog-header">
						
						<h3>Sign In</h3>
					</div> -->

			<div id="reg" v-show="!big2">

				<div class="msg" style="color: red; text-align: center;">{{msg}}</div>
				<form>
					<div class="form-group">
						<label>账户</label> <input class="form-control" v-model="phone"
							maxlength="11" onblur="isPhone(this.value)"> <i
							class="ti-user"></i>
					</div>
					<div class="form-group">

						<!-- smsButten -->
						<div class="register-pannel" id="register-pannel">

							<div class="input-group" style="width: 150px; float: left;">
								<input type="text" v-model="code" class="form-control"
									placeholder="验证码"
									style="float: right; height: 40px; width: 50px;" /> <span
									class="glyphicon glyphicon-font form-control-feedback" />

							</div>
							<div style="float: left; width: 80px;">
								<span class="register-msg-btn" v-show="show"
									v-on:click="getCode"><input type="发送验证码" value="获取" class="btn_1" id="submit-review" style="width:100px;height:40px;margin-left:20px"></span> <span
									class="register-msg-btn" v-show="!show"><input type="发送验证码" :value=count+"s" class="btn_1" id="submit-review" style="width:100px;height:40px;margin-left:20px"></span>
							</div>
							<br />

						</div>
						<div class="clearfix add_bottom_15" style="margin-top: 30px;">
							<div class="checkboxes float-left">
								<label class="container_check">记住账户 <input
									type="checkbox"> <span class="checkmark"></span>
								</label>
							</div>
							<div class="float-right mt-1">
								<a id="forgot" href="forget-pass.html">忘记密码?</a>
							</div>

						</div>
						<!-- =========================== -->
						<div class="container2">

							<div id="captcha2" style="position: relative"></div>
						</div>


						<!-- =============================== -->
						<!-- 				<div class="text-center"><input type="submit" value="登 录" class="btn_1 full-width"></div>
									-->
						<div class="text-center">
							还没有账号？ <a href="register.html">注册</a>
						</div>
						<div id="forgot_pw">
							<div class="form-group">
								<label>Please confirm login email below</label> <input
									type="email" class="form-control" name="email_forgot"
									id="email_forgot"> <i class="icon_mail_alt"></i>
							</div>
							<p>You will receive an email containing a link allowing you
								to reset your password to a new preferred one.</p>
							<div class="text-center">
								<input type="submit" value="Reset Password" class="btn_1">
							</div>
						</div>
					</div>
				</form>
				<!--form -->
			</div>
			<!-- /Sign In Popup -->

		</div>
	</div>

	<div id="toTop"></div>
	<!-- Back to top button -->

	<!-- COMMON SCRIPTS -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts.js"></script>
	<script src="js/main.js"></script>
	<script src="assets/validate.js"></script>
	<!-- 图片验证 -->
	<script type="text/javascript" src="js/jigsaw.js"></script>
	<!-- DATEPICKER  -->
	<script>
	$(function() {
	  'use strict';
	  $('input[name="dates"]').daterangepicker({
		  autoUpdateInput: false,
		  locale: {
			  cancelLabel: 'Clear'
		  }
	  });
	  $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
		  $(this).val(picker.startDate.format('YYYY-MM-DD') + ' > ' + picker.endDate.format('YYYY-MM-DD'));
	  });
	  $('input[name="dates"]').on('cancel.daterangepicker', function(ev, picker) {
		  $(this).val('');
	  });
	});
	
	function isPhone(phone){ //alert(phone)
		big.msg= "";
	    var RegCellPhone = '^((17[0-9])|(14[0-9])|(13[0-9])|(15[^4,\\D])|(18[0,5-9]))\\d{8}$';
	    var  falg=phone.search(RegCellPhone);
	    if (falg==-1){ big.msg= "手机号不正确";
	        this.focus();
	    } }


	
	</script>

	<script>
		var roomVue = new Vue({
			el:"#roomType",
			data:{
				message:[]
			},
			created:function(){
				axios.defaults.withCredentials = true;
				var url = "/Snail/roomType/source/index";
				axios.get(url,{})
				.then( response => {
					roomVue.message = response.data;
				})
			},
		})
	</script>

	<!-- INPUT QUANTITY  -->
	<script src="js/input_qty.js"></script>
	<script src="js/user.js"></script>

</body>
</html>